

#navbar_assetview{
    color: black;
}

#image_slideshow{
    padding: 10px;
    border-width: 20px;
    border-color: black;
    border:
}

#search_button{
    color: white;
    outline-color: white;
}

body{
    background-color: black;
}




